@import "variables";

.table {
    border-collapse: collapse;
    margin: 25px 0;
    //font-size: 0.9em;
    //font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
        tr {
            background-color: $blue;
            color: $bg;
            text-align: center;
        }
    }

    th, td {
        padding: 12px 15px;
    }

    tbody {
        tr {
            border-bottom: 1px solid $black;
            text-align: center;

            &:nth-of-type(even) {
                background-color: $sub-bg;
            }

            &:last-of-type {
                border-bottom: 2px solid $blue;
            }
        }
    }
}

